{% block toolbar %}
    <form action="{{ action }}" method="post">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="tl_switch">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
            <div>
                {% if canSwitchUser %}
                    <label for="ctrl_user">{{ 'MSC.feUser'|trans([], 'contao_default') }}:</label>
                    <input type="text"
                           name="user"
                           id="ctrl_user"
                           list="userlist"
                           class="tl_text user"
                           placeholder="{{ 'MSC.username'|trans([], 'contao_default') }}"
                           value="{{ user }}"
                           autocomplete="off">
                    <datalist id="userlist">
                        <option value="-"></option>
                    </datalist>
                {% endif %}
            </div>
            <div>
                <label for="ctrl_unpublished">{{ 'MSC.hiddenElements'|trans([], 'contao_default') }}:</label>
                <select name="unpublished" id="ctrl_unpublished" class="tl_select">
                    <option value="hide">{{ 'MSC.hiddenHide'|trans([], 'contao_default') }}</option>
                    <option value="show"{% if show %} selected{% endif %}>{{ 'MSC.hiddenShow'|trans([], 'contao_default') }}</option>
                </select>
            </div>
            <button type="submit" class="tl_submit">{{ 'MSC.apply'|trans([], 'contao_default') }}</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
window.addEventListener("cto-toolbar-loaded", function () {
    const form = toolbar.querySelector('input[name="FORM_SUBMIT"][value="tl_switch"]').form;
    if (!form) {
        return;
    }

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(form);

        request('POST', form.action, formData, function () {
            if (200 === this.status) {
                location.reload();
            } else {
                alert('Error while processing the request');
                location.reload();
            }
        });
    });

    if (document.createElement('datalist') && window.HTMLDataListElement) {
        const userField = form.querySelector('input[name="user"]');
        const userList = form.querySelector('datalist[id="userlist"]');

        userField.addEventListener('keyup', function () {
            if (userField.value.length < 2) {
                return;
            }

            const body = {
                FORM_SUBMIT: 'datalist_members',
                REQUEST_TOKEN: form.querySelector('input[name="REQUEST_TOKEN"]').value,
                value: userField.value
            };

            request('POST', form.action, new URLSearchParams(body), function () {
                userList.innerHTML = '';
                JSON.parse(this.response).forEach(item => {
                    const option = document.createElement('option');
                    option.value = item;
                    userList.appendChild(option);
                });
            }, false);
        });
    }
});
{% endblock %}

{% block style %}
    <style>
        .cto-toolbar__section--authenticator {

        }

        .cto-toolbar__section--authenticator .formbody {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
        }

        [data-orientation="vertical"] .cto-toolbar__section--authenticator .formbody {
            display: block;
        }

        [data-orientation="horizontal"] .cto-toolbar__section--authenticator .formbody > div {
            display: flex;
            align-items: baseline;
            margin-left: 1em;
        }

        [data-orientation="vertical"] .cto-toolbar__section--authenticator .formbody > * {
            margin-top: 1em;
        }

        .cto-toolbar__section--authenticator label {
            width: auto;
            margin: 0 .25em 0 0;
            font-weight: 500;
        }

        .cto-toolbar__section--authenticator input[type="text"] {
            margin: 2px 0;
            box-sizing: border-box;
            padding: 5px 6px 6px;
            border: 1px solid #aaa;
            border-radius: 2px;
            background-color: #fff;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        [data-orientation="vertical"] .cto-toolbar__section--authenticator input[type="text"], [data-orientation="vertical"] .cto-toolbar__section--authenticator select {
            width: 100%;
        }

        .cto-toolbar .tl_select {
            margin: 2px 0;
            box-sizing: border-box;
            border: 1px solid #aaa;
            padding: 5px 22px 6px 6px;
            border-radius: 2px;
            background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDUwMCA1MDAiPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMzEuNTIzIiB5MT0iNDIuNjMiIHgyPSIzNjguNDc4IiB5Mj0iMjc5LjU4NCI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjYjNiM2IzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOTk5Ii8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNMjUwIDM5Ni42NjZjLTEuMTU1IDAtNC4xMS0xLjgzMi03LjExMy02Ljc1bC0xNjkuNi0yNzcuNDU1Yy0yLjUxNy00LjExNC0zLjE5LTYuOTgtMy4yOC04LjMxNC44MjctLjMzIDIuNTY1LS44MTIgNS42MjctLjgxMmgzNDguNzMzYzMuMDYzIDAgNC43OTguNDgyIDUuNjI3LjgxMi0uMDkgMS4zMzQtLjc2NiA0LjItMy4yOCA4LjMxNWwtMTY5LjYgMjc3LjQ1N2MtMy4wMDUgNC45MTctNS45NiA2Ljc1LTcuMTE0IDYuNzV6Ii8+PC9zdmc+) right -16px center no-repeat;
            background-origin: content-box;
            cursor: pointer;
            text-transform: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        .cto-toolbar__section--authenticator .tl_submit {
            padding: .175em 1em;
            border: 1px solid #aaa;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            background: #eee;
            transition: background .2s ease;
            font-family: inherit;
            font-size: 1em;
        }

        [data-orientation="horizontal"] .cto-toolbar__section--authenticator .tl_submit {
            margin-left: 1em;
        }

        .cto-toolbar .tl_submit:hover {
            color: inherit;
            background-color: #f6f6f6;
        }

        .cto-toolbar .tl_submit:active {
            color: #aaa;
        }
    </style>
{% endblock %}